@model IEnumerable<OnlineBloodBank.Models.BloodGroup>

@{
    ViewBag.Title = "AllBloodGroup";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-9">
        <h2 class="title-1 m-b-25">All Request Type</h2>
        <div style="margin-left:90%;margin-bottom:2%">

            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-secondary" })

        </div>
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BloodGroupName)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BloodGroupName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.BloodGroupId }, new { @class = "btn btn-info" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.BloodGroupId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

