<DOCTYPE html>

    <html>
    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="au theme template">
        <meta name="author" content="Hau Nguyen">
        <meta name="keywords" content="au theme template">

        <!-- Title Page-->
        <title>Dashboard</title>
        <link href="~/Content/Admin/assets/css/font-face.css" rel="stylesheet" />
        <!-- Fontfaces CSS-->
        <link href="~/Content/Admin/assets/css/font-face.css" rel="stylesheet" media="all">
        <link href="~/Content/Admin/assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="~/Content/Admin/assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="~/Content/Admin/assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

        <!-- Bootstrap CSS-->
        <link href="~/Content/Admin/assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

        <!-- Vendor CSS-->
        <link href="~/Content/Admin/assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
        <link href="~/Content/Admin/assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
        <link href="~/Content/Admin/assets/vendor/wow/animate.css" rel="stylesheet" media="all">
        <link href="~/Content/Admin/assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
        <link href="~/Content/Admin/assets/vendor/slick/slick.css" rel="stylesheet" media="all">
        <link href="~/Content/Admin/assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="~/Content/Admin/assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

        <!-- Main CSS-->
        <link href="~/Content/Admin/assets/css/theme.css" rel="stylesheet" media="all">

    </head>
    <body class="animsition">
        <div class="page-wrapper">
            <!-- HEADER MOBILE-->
            <header class="header-mobile d-block d-lg-none">
                <div class="header-mobile__bar">
                    <div class="container-fluid">
                        <div class="header-mobile-inner">
                            <a class="logo" href="index.html">
                                <img src="~/Content/Admin/assets/images/icon/logo.png" alt="CoolAdmin" />
                            </a>
                            <button class="hamburger hamburger--slider" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <nav class="navbar-mobile">
                    <div class="container-fluid">
                        <ul class="navbar-mobile__list list-unstyled">
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                </a>
                                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                    <li>
                                        <a href="~/Views/Admin/Home.cshtml">Dashboard</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="chart.html">
                                    <i class="fas fa-chart-bar"></i>Charts
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- END HEADER MOBILE-->
            <!-- MENU SIDEBAR-->
            <aside class="menu-sidebar d-none d-lg-block">
                <div class="logo">
                    <a href="#">
                        <img src="~/Content/Admin/assets/images/icon/logo.png" alt="Cool Admin" />
                    </a>
                </div>
                <div class="menu-sidebar__content js-scrollbar1">
                    <nav class="navbar-sidebar">
                        <ul class="list-unstyled navbar__list">
                            <li class="active has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="~/Views/Admin/Home.cshtml">Dashboard</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("AllRequesttype","RequestType")">
                                    <i class="fas fa-table"></i>Request Type
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("AllUserType","UserType")">
                                    <i class="fas fa-table"></i>User Type
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("AllBloodGroup","BloodGroup")">
                                    <i class="fas fa-table"></i>Blood Group
                                </a>
                            </li> 
                            <li>
                                <a href="@Url.Action("AllAccountStatus","AccountStatus")">
                                    <i class="fas fa-table"></i>Account Status
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>

            <!-- PAGE CONTAINER-->
            <div class="page-container">
                <!-- HEADER DESKTOP-->
                <header class="header-desktop">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="header-wrap">
                                <form class="form-header" action="" method="POST">
                                    <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                    <button class="au-btn--submit" type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                                <div class="header-button">

                                    <div class="account-wrap">
                                        <div class="account-item clearfix js-item-menu">
                                            <div class="image">
                                                <img src="~/Content/Admin/assets/images/icon/avatar-01.jpg" alt="John Doe" />
                                            </div>
                                            <div class="content">
                                                <a class="js-acc-btn" href="#">@Session["Name"]</a>
                                            </div>
                                            <div class="account-dropdown js-dropdown">
                                                <div class="info clearfix">
                                                    <div class="image">
                                                        <a href="#">
                                                            <img src="~/Content/Admin/assets/images/icon/avatar-01.jpg" alt="John Doe" />
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <h5 class="name">
                                                            <a href="#">@Session["Name"]</a>
                                                        </h5>
                                                        <span class="email">@Session["Email"]</span>
                                                    </div>
                                                </div>
                                                <div class="account-dropdown__footer">
                                                    <a href="@Url.Action("Logout", "Admin")">
                                                        <i class="zmdi zmdi-power"></i>Logout
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- HEADER DESKTOP-->
                <div class="main-content">
                    <div class="section__content section__content--p30">

                        @RenderBody()

                    </div>
                </div>
        <!-- Jquery JS-->
        <script src="~/Content/Admin/assets/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="~/Content/Admin/assets/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="~/Content/Admin/assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="~/Content/Admin/assets/vendor/slick/slick.min.js">
        </script>
        <script src="~/Content/Admin/assets/vendor/animsition/animsition.min.js"></script>
        <script src="~/Content/Admin/assets/vendor/wow/wow.min.js"></script>
        <script src="~/Content/Admin/assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="~/Content/Admin/assets/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="~/Content/Admin/assets/vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="~/Content/Admin/assets/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/Content/Admin/assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="~/Content/Admin/assets/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="~/Content/Admin/assets/vendor/select2/select2.min.js">
        </script>

        <!-- Main JS-->
        <script src="~/Content/Admin/assets/js/main.js"></script>
    </body>
</html>
